

.parent {
    display: grid;
grid-template-columns: ;
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
width: 250px;
height: 250px;
padding: 100px;
background-color: rgb(59, 70, 100);

    }
    
    .div1 {border-radius: 5px;font-size: x-large; background-color: rgb(25, 31, 50); color: white;grid-area: 1 / 1 / 2 / 2;width: 250px;height: 50px;align-items: center;text-align: end;display: grid; }
    .div2 {border-radius: 5px; background-color: rgb(37, 45, 68);width: 250px;height: 200px;grid-area: 2 / 1 / 3 / 2; }
    .parent-1 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin: 15px;
        width: 242px;
        height: 188px;
        text-align: center;
      }
        
        
      .div2-1 { grid-area: 1 / 1 / 2 / 2; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-2 { grid-area: 1 / 2 / 2 / 3; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-3 { grid-area: 1 / 3 / 2 / 4; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-4 { grid-area: 1 / 4 / 2 / 5; width: 35px;height: 20px;background-color: rgb(101, 115, 153);border-radius: 5px}
      .div2-5 { grid-area: 2 / 1 / 3 / 2; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-6 { grid-area: 2 / 2 / 3 / 3; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-7 { grid-area: 2 / 3 / 3 / 4; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-8 { grid-area: 2 / 4 / 3 / 5; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-9 { grid-area: 3 / 1 / 4 / 2; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-10 {grid-area: 3 / 2 / 4 / 3; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-11 {grid-area: 3 / 3 / 4 / 4; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-12 {grid-area: 3 / 4 / 4 / 5; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-13 {grid-area: 4 / 1 / 5 / 2; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-14 {grid-area: 4 / 2 / 5 / 3; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-15 {grid-area: 4 / 3 / 5 / 4; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-16 {grid-area: 4 / 4 / 5 / 5; width: 35px;height: 20px;background-color: white;border-radius: 5px}
      .div2-17 {grid-area: 5 / 1 / 6 / 3; width: 70px;height: 20px;background-color: rgb(101, 115, 153);border-radius: 5px}
      .div2-18 {grid-area: 5 / 3 / 6 / 5; width: 70px;height: 20px;background-color: rgb(209, 63, 48);border-radius: 5px} 




